<style>
    .rojo {
        background-color: red;
    }
</style>

<div class="rojo">
    <h1>AQUI EMPIEZA EL HOMEPAGE</h1>

    <p>YA no somos tan noobs en sails</p>

    <h1>AQUI FINALIZA EL HOMEPAGE</h1>
</div>